.App-header {
  background-color: #282c34;
  justify-content: space-between;
  display: flex;
  font-size:larger;
  color: whitesmoke;
  
}

.App-header-right{
  margin: 1em;
}

.App-header-right-unit{
  margin: 1em;
  text-decoration: none;
  color: whitesmoke;
}

.App-header-left{
  margin: 1em;
  text-decoration: none;
  color: whitesmoke;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .App-content {
    flex-direction: column;
  }
}

.main-image{
  
}

.App-link {
  color: #61dafb;
}
