.App {
}


.App-header {
  background-color: #282c34;
  justify-content: space-between;
  display: flex;
  font-size:larger;
  color: whitesmoke;
}

.App-header-right{
  margin: 1em;
}

.App-header-right-unit{
  margin: 1em;
}

.App-header-left{
  margin: 1em;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-image{
  max-height: 70vh;
  max-width: 60vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
